

<nav id="menu">
  <header>Menu</header>
  <section class="menu-section">
    <h3 class="menu-section-title">Your Council</h3>
    <ul class="menu-section-list">
      <li>
        <a href="#mayoral" data-scroll>Mayoral candidates</a>
      </li>
      <li>
        <a href="#msw" data-scroll>Marlborough Sounds Ward</a>
      </li>
      <li>
        <a href="#waw" data-scroll>Wairau-Awatere Ward</a>
      </li>
      <li>
        <a href="#bw" data-scroll>Blenheim Ward</a>
      </li>


    </ul>
  </section>
  <section class="menu-section">
    <ul class="menu-section-list">
      <li>
        <button class="close-button"><i class="fa fa-close"></i> Close menu</a>
      </li>
    </ul>
  </section>
</nav>

<main id="panel">
  <button class="toggle-button"><i class="fa fa-bars"></i></a>
</main>

<nav id="top-menu" class="top-nav">
  <div class="container">
    <ul class="navbar">
      <li class="navbar-item"><a class="navbar-link" data-scroll href="#mayoral">Mayoral candidates</a></li>
      <li class="navbar-item"><a class="navbar-link" data-scroll href="#msw">Marlborough Sounds Ward</a></li>
      <li class="navbar-item"><a class="navbar-link" data-scroll href="#waw">Wairau-Awatere Ward</a></li>
      <li class="navbar-item"><a class="navbar-link" data-scroll href="#bw">Blenheim Ward</a></li>
    </ul>
    <div
      class="fb-like"
      data-share="false"
      data-width="450"
      data-show-faces="true">
    </div>
  </div>

</nav>
